[Unit]
Description=USB Gadget setup (NCM)
After=local-fs.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/gadget-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
