
[Match]
Name=usb0

[Network]
# DHCP=yes

# or, if Jetson acts as DHCP **server** and you want static:
Address=10.42.0.1/24
# Gateway=10.42.0.2
DNS=8.8.8.8
