[Unit]
Description=USB Gadget setup (NCM)
After=local-fs.target
Before=NetworkManager.service network.target
Wants=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/gadget-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
