[Unit]
Description=Enable PipeWire Audio for wendy User
After=multi-user.target home.mount wendyos-user-setup.service
Requires=home.mount
Wants=wendyos-user-setup.service
ConditionPathExists=/home/wendy

[Service]
Type=oneshot
ExecStart=/usr/sbin/pipewire-user-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
